<!DOCTYPE html>
<html>
<head>
  <meta charset='utf-8' />
  <meta http-equiv='X-UA-Compatible' content='IE=edge'>
  <title>Salsa Byte | Blog & Games</title>
  <meta name='viewport' content='width=device-width, initial-scale=1'>
  <script src=<%= process.env.NODE_ENV == 'production' ? 'https://public.salsabyte.com/main.js' : 'main.js' %>></script>
</head>
<body>
  <div class='page'>
    <div class='header'>
      <div class='header-left flex'>
        <div class='title bold large pl-2'>SalsaByte</div>
        <div class='nav flex'>
          <div class='nav-item ml-2'>blog</div>
          <div class='nav-item ml-2'>games</div>
        </div>
      </div>
      <div class='header-right pr-2'>
        <div class='icons'>
          subscribe
        </div>
      </div>
    </div>
    <div class='grid'>
      <div class='gotd'>
        <div class='bold large pl-2'>GAME OF THE DAY</div>
        <div class='gotd-image'></div>
        <div class='gotd-desc'></div>
      </div>
      <div class='recent-post'>
        <div class='bold large pl-2'>RECENT POST</div>
        <div class='recent-image'></div>
        <div class='recent-desc'></div>
      </div>
      <div class='about'>
        <div class='bold large pl-2'>ABOUT</div>
        This sites name is Salsa Byte. It is a totally cool website that is slay and awseome. It has games and blog and also games and blogs. The site is named salsa byte because salsa it good and you can byte it. Have you bit salsa? Thank you for your conisderation, have fun, and please keep all hands and feet inside the website at all times!
      </div>
    </div>
  </div>
</body>
</html>
