.bold {
  font-weight: bold;
}

.large {
  font-size: 25px;
}

.ml {
  margin-left: $gs;
}

.ml-2 {
  margin-left: $gs * 2;
}

.pl-2 {
  padding-left: $gs * 2;
}

.pr-2 {
  padding-right: $gs * 2;
}

.flex {
  @include flex;
}
